*~
/*-[0-9][0-9].xml
archive.json
*.bak
draft-irtf-cfrg-vdaf.xml
*.egg-info
Gemfile.lock
/.gems/
*.html
/lib
lib
/node_modules/
package-lock.json
*.pdf
*.pyc
__pycache__
*.pyo
*.redxml
.refcache
/.refcache
report.xml
*.swp
.tags
.targets.mk
/.targets.mk
*.txt
*.upload
/.venv/
venv/
/versioned/
/.vscode/
!requirements.txt
