name: Lint Python

on:
  push:
    branches:
    - main
    paths:
    - '.github/workflows/lint-python.yml'
    - 'poc/**'
  pull_request:
    paths:
    - '.github/workflows/lint-python.yml'
    - 'poc/**'

jobs:
  test:
    name: "Check formatting"
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Install tools
      run: pip install autopep8

    - name: Run autopep8
      working-directory: poc
      run: autopep8 --diff --exit-code *.py
