name: Lint Python

on:
  push:
    branches:
    - main
    paths:
    - '.github/workflows/lint-python.yml'
    - 'poc/**'
  pull_request:
    paths:
    - '.github/workflows/lint-python.yml'
    - 'poc/**'

permissions:
  contents: read

jobs:
  test:
    name: "Testing PoC Python Code"
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: poc
    steps:
    - name: Checkout
      uses: actions/checkout@v5

    - name: Setup Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.12'

    - name: Install Poetry
      uses: snok/install-poetry@v1
      with:
        version: '2.2.0'

    - name: Install dependencies
      run: poetry install --no-interaction

    - name: Check Format
      run: poetry run poe check

    - name: Linter
      run: poetry run poe lint

    - name: Unit Tests
      run: poetry run poe tests